body {
  /* font-family-sans-serif: Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif; */
  /* font-family: Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif; */
  /* font-family-serif: Georgia, "Times New Roman", Times, serif; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  background-color: DimGray; 
}

h1, h2, h3, a {
  color: cyan;
}

p, li {
  color: white;
}

