/* This CSS file must be put in "assets/" directory, required by Dash */

:root {
  --bg: #C9F9FF;
  /* These colors are picked to match NeoViz nodes */
  --node: #97c2fc;
  --nodeBorder: #2b7ce9;
}

.button:active {
	box-shadow: box-shadow:
	  7px 6px 28px 1px rgba(0, 0, 0, 0.5);
	transform: translateY(4px);
	/* Moving button 4px to y-axis */
	}
            
/* Buttons –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	font-weight: 400;
	background-color: var(--bg);
	font-size: 20px;
	border-radius: 10px;
	border:2px solid Black;
	margin: 5px;
	/*height: 38px;
	  padding: 0 30px;
	  color: #555;
	  text-align: center;
	  font-size: 11px;
	  line-height: 38px;
	  letter-spacing: .1rem;
	  text-transform: uppercase;
	  text-decoration: none;
	  white-space: nowrap;
	  background-color: transparent;
	  border-radius: 4px;
	  border: 1px solid #bbb;
	  cursor: pointer;
	  box-sizing: border-box; }
	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover,
	.button:focus,
	button:focus,
	input[type="submit"]:focus,
	input[type="reset"]:focus,
	input[type="button"]:focus {
	  color: #333;
	  border-color: #888;
	  outline: 0; }
	.button.button-primary,
	button.button-primary,
	input[type="submit"].button-primary,
	input[type="reset"].button-primary,
	input[type="button"].button-primary {
	  color: #FFF;
	  background-color: #33C3F0;
	  border-color: #33C3F0; }
	.button.button-primary:hover,
	button.button-primary:hover,
	input[type="submit"].button-primary:hover,
	input[type="reset"].button-primary:hover,
	input[type="button"].button-primary:hover,
	.button.button-primary:focus,
	button.button-primary:focus,
	input[type="submit"].button-primary:focus,
	input[type="reset"].button-primary:focus,
	input[type="button"].button-primary:focus {
	  color: #FFF;
	  background-color: #1EAEDB;
	  border-color: #1EAEDB;
	  */
}

/* Forms –––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="text"] {
	font-size: 20px;
	margin: 5px;
	height': 30px;
}

textarea {
	font-size: 16px;
	margin: 5px;
	height': 730px;
	/*height: 38px;
	  padding: 6px 10px;
	  background-color: #fff;
	  border: 1px solid #D1D1D1;
	  border-radius: 4px;
	  box-shadow: none;
	  box-sizing: border-box; 
	  font-family: inherit;
	  font-size: inherit;
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	textarea {
	  -webkit-appearance: none;
		 -moz-appearance: none;
			  appearance: none; }
	textarea {
	  min-height: 65px;
	  padding-top: 6px;
	  padding-bottom: 6px; }
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="search"]:focus,
	input[type="text"]:focus,
	input[type="tel"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	textarea:focus,
	select:focus {
	  border: 1px solid #33C3F0;
	  outline: 0; }
	label,
	legend {
	  display: block;
	  margin-bottom: 0px; }
	fieldset {
	  padding: 0;
	  border-width: 0; }
	input[type="checkbox"],
	input[type="radio"] {
	  display: inline; }
	label > .label-body {
	  display: inline-block;
	  margin-left: .5rem;
	  font-weight: normal;
	*/
}
